$firstColor: #e28525;
$secondColor: #016972;
$thirdColor: #00403f;

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');
$font: 'Ubuntu', sans-serif;

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow-x: hidden;


    .container {
        width: 60%;
        height: 55%;
        position: relative;
        display: flex;
        border-radius: 10px;

        @media (max-width: 1447px) {
            width: 90%;
            height: 2100px;
            position: absolute;
            top: 50px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }


        .card {
            width: calc(100% / 3);
            height: 100%;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            @media(max-width: 1447px) {
                width: 100%;
                height: 700px;
            }

            &:nth-child(1) {
                background-color: $firstColor;
                border-radius: 10px 10px 0px 10px;

                @media (max-width: 1447px) {
                    border-radius: 10px 10px 0px 0px;
                }
            }
            &:nth-child(2) {
                background-color: $secondColor;
            }
            &:nth-child(3) {
                background-color: $thirdColor;
                border-radius: 0px 10px 10px 0px;
                margin-bottom: 50px;
                
                @media (max-width: 1447px) {
                    border-radius: 0px 0px 10px 10px;
                }
            }

            
            
            .information {
                width: 80%;
                height: 65%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-between;
                
                .textAndIcon {
                    width: 100%;
                    height: 70%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: space-around;
                    
                    h1{
                        font-family: $font;
                        font-size: 2.1em;
                        color: white;
                    }
                    p {
                        font-family: $font;
                        font-size: 1.3em;
                        color: white;
                    }
                }
                .btn1, .btn2, .btn3 {
                    width: 60%;
                    height: 60px;
                    border-radius: 50px;
                    border: none;
                    font-family: $font;
                    font-size: 1.4em;
                    font-weight: 600;
                    transition: font-size 0.2s ease-in-out;
                    cursor: pointer;

                    &:hover {
                        font-size: 1.5em;
                    }
                }
                .btn1 {
                    color: $firstColor;
                }
                .btn2 {
                    color: $secondColor;
                }
                .btn3 {
                    color: $thirdColor;
                }
            }
        }
    }
}